body {
  background-color: #031c00;
  color: #8ee28e;
}

.terminal-line {
  text-transform: uppercase;
  font-weight: bold;
  font-family: monospace;
  font-size: x-large;
}

.terminal-column {
  padding: 1px;
}

.active-column {
  color: #8ee28e;
  background-color: #031c00;
}

.terminal-column:focus {
  background-color: #8ee28e;
  color: #031c00;
  outline: none;
}

.terminal-block {
  /* border: solid 1px rgb(27, 2, 243); */
  padding: 50px;
}

.memory-address {
  margin-right: 15px;
}

#block-container {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  height: 100%;
  /* border: solid 1px #F00; */
  flex-direction: row;
  justify-content: center;
}
