body {
  background-color: #031c00;
  color: #8ee28e;
}

.terminal-column {
  padding: 1px;
}

.active-column {
  background-color: #8ee28e;
  color: #031c00;
}

.terminal-column:focus {
  background-color: #8ee28e;
  color: #031c00;
  outline: none;
}

.memory-address {
  margin-right: 15px;
}

#container {
  text-transform: uppercase;
  font-weight: bold;
  font-family: monospace;
  font-size: x-large;
  display: flex;
  flex-direction: row;
  height: 830px;
  /* Debugging */
  /* margin: 5px;
  border: solid 1px cyan; */
}

#attempt-counter {
  padding-left: 25px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: monospace;
  font-size: x-large;
  display: flex;
  flex-direction: row;
  height: 50px;
  max-height: 900px;
  /* Debugging */
  /* margin: 5px;
  border: solid 1px rebeccapurple; */

}

.terminal-block {
  padding-left: 25px;
  padding-right: 25px;
  height: 95%;
  /* Debugging */
  /* margin: 5px;
  border: solid 1px blue; */
}

#prompt-container {
  width: 20%;
  height: 95%;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  margin: 5px;
  padding-left: 25px;
  /* Debugging */
  /* border: solid 1px green; */
}

#prompt-cursor {
  margin-bottom: 60px;
}
